{{ extend 'layout.html'}}
<html>
    <body>
        <h1>Yipeee !!!! Finally.... :P</h1>
        <h3>What is a framework?</h3>
        <p>a framework is a real or conceptual structure intended to serve as a support or guide for the building of something that expands the structure into something useful.</p>
        <h3>What is a web-framework?</h3>
        <p>A web application framework (WAF) is a software framework that is designed to support the development of dynamic websites, web applications, web services and web resources. The framework aims to alleviate the overhead associated with common activities performed in web development.</p>
        <h3>List 3 web-frameworks in languages:-</h3>
        <p><b>C -</b>Saetta Web Server</p>
        <p><b>C++ -</b>Poco<br>CppCMS<br>Wt</p>
        <p><b>Python -</b>Web2py<br>Pyramid<br>Cherrypy</p>
        <p><b>PHP -</b>Lithium<br>Seagull<br>Phalcon</p>
        <h3>List two points for:-</h3>
        <p><b>Web2py vs Django</b></p>
        <p style="color:green">web2py is more compact and has more functionality out of the box (more supported databases, web based IDE, ticketing system, runs on GAE without patches, multiple login methods, role based access control, web based translation interface, support for multiple database connections, distributed transactions, and more).</p>
        <p style="color:green">Web2py is definitely easier and makes the code simpler and cleaner. But Django gives you a better understanding on whats going on, and also more power to modify the design/process.</p>
        <p><b>Web2py vs Flask</b></p>
        <p style="color:blue">Flask does not have a WYSIWYG editor unlike web2py.</p>
        <p style="color:blue">Flask does not have static typing support and also does not have SQL injecting support unlike web2py</p>
        <h3>Explain MVC with an example</h3>
        <p>    *  Data (Model)
            * An interface to view and modify the data (View)
                * Operations that can be performed on the data (Controller)
        </p>
        <p>Consider an address book.The model is a list of objects of the type "PERSONS".<br>The view is a GUI windows that shows the full address book.</br>The controller allows us to add/modify the contacts.</p>
        <p>{{=mess}}</p>
    </body>
</html>
